@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/*Background do topo e do rodapé*/
.back{
	background-color: #cc66ff;
}
/*Define o tamanho do nav e a margin automatica para ficar centralizado*/
.tam{
	width: 32%;
	float: right;
	margin-top: -3%;
}
/*Espaço entre os links*/
ul.espaco li{
	padding-right: 5%;
}
/*Cor dos textos e dos links*/
.cor{
	color: #fff;
}
.cor:hover{
	color: #fff;
}
/*é um top do copyright do footer*/
.topo{
	width: 30%;
	margin-top: 3%;
}
.cont{
	margin-top: 6%;
}

figure.emcima img{
	max-width: 100%;
}

.fonte{
	font-family: 'noto sans', sans-serif;
}

